<app-nav-bar></app-nav-bar>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div>
                <div class="form-group">
                    <label for="inputUsuario">Nombre</label>
                    <input [(ngModel)]="usuario" required type="text" class="form-control" id="usuario"
                        placeholder="">
                </div>
                <ng-container *ngIf="tipousuario == 'cliente'">
                <div class="form-group">
                    <label for="inputApellido">Apellidos</label>
                    <input [(ngModel)]="apellido" type="text" class="form-control" id="apellido"
                        placeholder="">
                </div>
                </ng-container>
                <ng-container *ngIf="tipousuario == 'editorial'">
                <div class="form-group">
                    <label for="inputDireccion">Dirección Fisica</label>
                    <input [(ngModel)]="direccion" type="text" class="form-control" id="direccion"
                        placeholder="">
                </div>
                </ng-container>
                <div class="form-group">
                    <label for="inputCorreo">Correo Electrónico</label>
                    <input [(ngModel)]="correo" required type="text" class="form-control" id="correo"
                        placeholder="">
                </div>
                <ng-container *ngIf="tipousuario == 'cliente'">
                <div class="form-group">
                    <label for="inputNumero">Numero de Celular</label>
                    <input [(ngModel)]="numero" required type="number" class="form-control" id="numero"
                        placeholder="">
                </div>
                </ng-container>
                <div class="form-group">
                    <label for="inputPassword">Contraseña</label>
                    <input [(ngModel)]="pass" required type="password" class="form-control" id="pass"
                        placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputTipoUsuario">Tipo de Usuario</label>
                    <select class="form-control" name="miselect" [(ngModel)]="tipousuario" id="tipousuario">
                        <option value="cliente">Cliente</option>
                        <option value="editorial">Editorial</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6 offset-sm-3">
            <button type="submit" class="btn btn-primary btn-block" (click)="registrarse()">Registrarse</button>
                                Ya tienes usuario? <a  [routerLink]="[ '/login' ]">Inicia Sesión</a>.
        </div>
    </div>
</div>
<footer class="page-footer font-small blue pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <div class="form-check form-check-inline">
            <label class="form-check-label">
            Tienda actual:
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input [(ngModel)]="group" class="form-check-input" type="radio" name="radio" id="radio1" value=0 checked>
            <label class="form-check-label" for="radio1">
            g12
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input [(ngModel)]="group" class="form-check-input" type="radio" name="radio" id="radio2" value=1 checked>
            <label class="form-check-label" for="radio2">
            g9
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input [(ngModel)]="group" class="form-check-input" type="radio" name="radio" id="radio3" value=2 checked>
            <label class="form-check-label" for="radio3">
            g10
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input [(ngModel)]="group" class="form-check-input" type="radio" name="radio" id="radio4" value=3 checked>
            <label class="form-check-label" for="radio4">
            g11
            </label>
        </div>
    </div>
    <!-- Copyright -->
</footer>