<app-nav-bar></app-nav-bar>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div>
                <div class="form-group">
                    <label for="inputCantidad">Cantidad</label>
                    <input [(ngModel)]="cantidad" required type="number" class="form-control" id="cantidad"
                        placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputCantidad">País</label>
                </div>
                <div class="form-group">
                    
                    <select [(ngModel)]="pctimpuesto" id="pctimpuesto">
                      <option *ngFor="let pais of paises" [ngValue]="pais.impuesto">
                      {{pais.nombre}}
                      </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Porcentaje de impuesto</label>
                </div>
                <div class="form-group">
                    <label>{{pctimpuesto}}</label>
                </div>
                <div class="form-group">
                    <label>Subtotal</label>
                </div>
                <div class="form-group">
                    <label>{{cantidad}}</label>
                </div>
                <div class="form-group">
                    <label>{{cantidad*pctimpuesto}}</label>
                </div>
                <div class="form-group">
                    <label>Total</label>
                </div>
                <div class="form-group">
                    <label>{{total}}</label>
                </div>
                <div class="col-sm-6 offset-sm-3">
                    <button type="submit" class="btn btn-primary btn-block" (click)="getTotal();">Calcular</button>
                </div>
            </div>
        </div>
    </div>
</div>