<div class="card" style="width: 15rem; margin-bottom: 5px;">
  <!--Imagen generica para la portada de los libros-->  
  <img class="card-img-top" alt="{{book.titulo}}" style="height: 20rem;"
    src="https://boxshot.com/support/3d-book-covers/how-to-make-a-3d-book-cover-in-photoshop/sample.jpg" >
  <div class="card-body">
    <h5 class="card-title">{{book.titulo}}</h5>

    <p><b>Autor:</b> {{book.autor}}<br>
      <b>Cantidad en Stock:</b> {{book.cantidad}}<br>
      <b>Categorias:</b> {{book.categorias}}<br>
      <b>Editorial:</b> {{book.editorial}}<br>
      <b>Fecha creacion:</b> {{book.fecha_creado}}</p>
    <p>Q{{book.precio}}</p>

  </div>

  <div class="input-group mb-2 w-75 mx-auto">
    <div class="input-group-prepend">
        <button [disabled]="cantidad <= 0" class="btn btn-primary" type="button" (click)="disminuirCantidad()">-</button>
    </div>
    <input [(ngModel)]="cantidad"
        type="number"
        class="form-control text-center" />
    <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="aumentarCantidad()">+</button>
    </div>
  </div>

  <button [disabled]="cantidad <= 0" class="btn btn-block btn-primary w-75 mx-auto mb-2" (click)="agregarAlCarrito()">
      Agregar al Carrito
  </button>
</div>