<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div>
                <div class="form-group">
                    <label for="inputUsuario">Nombre</label>
                    <input [(ngModel)]="usuario" required type="text" class="form-control" id="inputNombre"
                        placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputUsuario">Apellidos</label>
                    <input [(ngModel)]="usuario" required type="text" class="form-control" id="inputApellido"
                        placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputUsuario">Correo Electrónico</label>
                    <input [(ngModel)]="usuario" required type="text" class="form-control" id="inputCorreo"
                        placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputUsuario">Celular</label>
                    <input [(ngModel)]="pass" required type="number" class="form-control" id="inputCelular"
                        placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Contraseña</label>
                    <input [(ngModel)]="pass" required type="password" class="form-control" id="inputPassword"
                        placeholder="">
                </div>
            </div>
        </div>
        <div class="col-sm-6 offset-sm-3">
            <button type="submit" class="btn btn-primary btn-block" (click)="registrase()">Registrarse</button>
                                Ya tienes usuario? <a  [routerLink]="[ '/login' ]">Inicia Sesión</a>.
        </div>
    </div>
</div>