<app-nav-bar-editorial></app-nav-bar-editorial>

<div class="container">
    <h2 class="border-bottom">Ordenes</h2>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Fecha de creacion</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of ordenes, let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{orden.nombre}}</td>
                        <td>{{orden.correo}}</td>
                        <td>{{orden.date}}</td>
                        <td><button data-toggle="modal" data-target="#exampleModal" mat-button (click)="abrirModal(i)">Ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Orden No.{{orden.id}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of orden.details, let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{detail.titulo}}</td>
                        <td>{{detail.autor}}</td>
                        <td>{{detail.precio}}</td>
                        <td>{{detail.cantidad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>